__pycache__
.vscode
ingest-statistics-monitoring-prod9.tar
ingest-statistics-monitoring-prod10.tar
ingest-statistics-monitoring-prod20.tar
ingest-statistics-monitoring-prod27c.tar
ingest-statistics-monitoring-prod37c.tar
ingest-statistics-monitoring-prod37cc.tar

